<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="Akil" />
        <property name="persistenceProviderClass" value="org.hibernate.jpa.HibernatePersistenceProvider"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    <bean id="gameImplementation" class="org.GestionDesTournois.Repository.Implementation.GameImplementation"/>
        <bean id="gameService" class="org.GestionDesTournois.Service.GameService">
            <constructor-arg ref="gameImplementation"/>
        </bean>
        <bean id="gameView" class="org.GestionDesTournois.View.GameView">
            <constructor-arg ref="gameService"/>
        </bean>
    <bean id="tournoiImplementation" class="org.GestionDesTournois.Repository.Implementation.TournoiImplementation"/>
    <bean id="tournoiExtension" class="org.GestionDesTournois.Repository.Implementation.TournoiExtension"/>
        <bean id="tournoiService" class="org.GestionDesTournois.Service.TournoiMetierImpl">
            <constructor-arg ref="tournoiImplementation"/>
            <constructor-arg ref="tournoiExtension"/>
        </bean>
        <bean id="tournoiView" class="org.GestionDesTournois.View.TournoiView">
            <constructor-arg ref="tournoiService"/>
        </bean>
    <bean id="teamImplementation" class="org.GestionDesTournois.Repository.Implementation.TeamImplementation" />
        <bean id="teamService" class="org.GestionDesTournois.Service.TeamService">
            <constructor-arg ref="teamImplementation"/>
        </bean>
        <bean id="teamView" class="org.GestionDesTournois.View.TeamView">
            <constructor-arg ref="teamService"/>
        </bean>



    <tx:annotation-driven transaction-manager="transactionManager"/>
</beans>